{% load static wagtailuserbar menu_tags%}
{% get_menu "main" as navigation %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %} | Sandhbolt
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>
    <link rel="icon" href="{% static 'images/logo.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <!-- Flaticons  -->
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    {%block extra_head%}{%endblock%}

</head>

<body>

<div class="colorlib-loader"></div>

<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="colorlib-logo">
                            <img src="{% static 'images/logo.png' %}" alt="logo" style="border-radius:100%;"
                                 height="250px" width="250px">
                        </div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            {%for item in navigation.menu_items.all %}
                            <li class=""><a href="{{item.link}}">{{item.title}}</a></li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <div id="colorlib-subscribe">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 colorlib-heading animate-box">
                    <h2>Sign up for a Newsletter</h2>
                    <div class="row">
                        <div class="col-md-7">
                            <p>Enter your email address to get the latest news, events and special offers delivered
                                right to your inbox.</p>
                        </div>
                        <div class="col-md-5">
                            <form class="form-inline qbstp-header-subscribe">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-0">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email"
                                                   placeholder="Enter your email">
                                            <button type="submit" class="btn btn-primary">Subscribe</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="colorlib-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-4 colorlib-widget">
                    <h4>More About Company</h4>
                    <p>The company engages in infrastructure planning, Design and construction and maintainance as
                        well as General trading</p>
                    <p>
                    <p>
                    <ul class="colorlib-social-icons">
                        <li><a href="https://twitter.com/sandhbolt"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/Sandhbolt-100971758067549/?modal=admin_todo_tour"><i
                                class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>

                <div class="col-md-3 col-md-push-1 colorlib-widget">
                    <h4>Information</h4>
                    <p>
                        <a href="{% static 'documents/sandhbolt.pdf' %}" download>
                            <button class="btn btn-danger">Download Company Profile</button>
                        </a>
                    </p>
                    <p>You can download the company profile to view more information about us.</p>
                </div>

                <div class="col-md-3 col-md-push-1">
                    <h4>Contact Info</h4>
                    <ul class="colorlib-footer-links">
                        <li>Kampala, Uganda</li>
                        <li><a><i class="icon-phone"></i> +256 700343985</a></li>
                        <li><a href="mailto:info@sandhbolt.com.com"><i class="icon-envelope"></i>info@sandhbolt.com</a>
                        </li>
                        <li><a href="http://sandhbolt.com"><i class="icon-location4"></i> sandhbolt.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <small class="block">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved. Sandhbolt (U) LTD.
                            Developed by <a href="https://brightkan.tk" target="_blank">Bright Kanyange</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Stellar Parallax -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Flexslider -->
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<!-- Owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup-options.js' %}"></script>
<!-- Counters -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<!-- Main -->
<script src="{% static 'js/main.js' %}"></script>

{%block extra_js%}{%endblock extra_js%}
</body>

</html>